<!doctype html>
<html ng-app="dcnstrkt">
  <head>
  	<meta charset="urf-8"/>
  	<title>Dcnstrtk</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body ng-controller="MainController">
    <video id="sourcevid" autoplay height="600" width="600"></video>
    <canvas  style="display:none" height="300" width="500" id="canvas"></canvas>
    <div class="postButtons">
      <button ng-click="click('amazon')">Get Product Info</button>
      <button ng-click="click('nutrition')">Get Nutritional Info</button>
      <button ng-click="click('ebay')">Get Auction Info</button>
      <input type="text" ng-model="getOtherInfo"/>
      <button ng-click="click(getOtherInfo)">Other</button>
    </div>
    <br/>
    <script>
    </script>

  	<script src="scripts/app.js"></script>
    <script src="scripts/photoCapture.js"></script>
  </body>
</html>